/node_modules
/dist
/build
/coverage
/logs
/tmp
/cache
/temp
/test-results
/test-reports
/test-coverage
/test-coverage-reports
/test-coverage-reports


.env

.cursorrules
.cursor
.vscode
.idea
.DS_Store

# Mezon cache
/mezon-cache
